# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Large datasets
data/raw/*.zip
data/raw/*images*
data/raw/*segmentations*

# Trained model artifacts
saved_models/*
!saved_models/.gitkeep

# OS/editor files
.DS_Store
Thumbs.db
.vscode/